<p>Hello {{name}}</p>

<h2>{{greetUser()}}</h2>
<h2>{{name.length}}</h2>
<h2>{{name.toUpperCase()}}</h2>
<h2>{{siteUrl}}</h2>


<!--Property binding ways-->
<!--First way and first syntax-->
<input type="text" value="Aleem" [id]="testId">
<br>
<!-- disabled is inbuilt angular property-->
<input type="text" value="Pasha" id="{{testId}}" [disabled]="isDisabled">
<br>
<!--second way and Second syntax-->
<input type="text" value="Nayeem" [id]="testId" bind-disabled="true">
<br>

<!--Class binding -->
<h2 class="text-success">Angular Tutorial</h2>
<br>
<h2 [class]="successClass">Angular Tutorial</h2>
<br>
<h2 [class]="failureClass">Angular Tutorial</h2>
<h2 class="text-special" [class]="failureClass">Angular Tutorial</h2>
<h2 [class.text-failure]="!hasDanger">Angular Tutorial</h2>
<h2 [ngClass] = "messageClassses">Angular business</h2>

<!--Event Binding-->
<button (click)= "onClick($event)">Task</button>
<br>
{{greeting}}
{{eventType}}


<!--Template Reference variables-->

<!--
  -> I want the text enterd in the input should be displayed in console when buton is clicked
  -> I want the text eneterd in the input should be displayed in UI screen when button is clicked


  Sysntax 
  <element #variable >
    #myInput is the varaible below 
    element is input tag
-->

<input #myInput type="text">
<button (click)="onSubmit(myInput.value)" >Submit</button>
{{inputValue}}

<!--Two way binding-->
<input type="text" [(ngModel)] = "inputName">
{{inputName}}


<!--ngIf Directive-->
<h2 *ngIf="!directive; else elseBlock">Hydraa</h2>

<ng-template #elseBlock>
    <h2>hidden</h2>
</ng-template>




<!--ngFor directive-->

<div *ngFor="let color of colors">
    
    <h2>{{color}}</h2>
</div>

<h2>{{parentData}}</h2>




